<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset= "UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>COOL BREEZE WEBSITE </title>
 <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header" id="header">

        <div class="header__brand">
            <img src="../img/FAVICON.png"alt="our brand logo">
            <h1> COOL BREEZE</h1>
        </div>

        <i class="header__icon" id="menu-open"> 
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-grid" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#FFF" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
            <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
            <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
            <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z" />
          </svg>
        </i>

        <nav class="header__nav" id="nav-menu">

            <i class="header__icon header__icon--close" id="menu-close">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="#FFF" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                  </svg>
                  
            </i>

            <ul class="header__menu">
                <li><a class="header__link" href="./index.html" >INICIO</a></li>
                <li><a class="header__link header__link--button" href="../../index.html">CERRAR SESION </a></li>
                <li><a class="header__link" href="./Assets/views/products.html" id="logout-buttonr5">SERVICIOS</a> </li>
                
            </ul>
        </nav>
    </header>
  <main class="WELCOME-CONTENT admin-main">
    <section class="admin__container">
        <form id="product-form" class="admin__form">
            <h2>Crear producto</h2>
            <fieldset class="admin__form-section">
           <div class="admin__input">
            <label for="name">NOMBRE:</label>
            <input id="name" type="text" required name="name" placeholder="Ingresa un nombre...">
           </div>

           <div class="admin__input">
            <label for="price">PRECIO:</label>
            <input id="price" type="number" required name="price" placeholder="Ingresa un precio...">
           </div>
            </fieldset>

            <fieldset class="admin__form-section admin__form-section--row">
                <div class="admin__input">
                    <label for="description">DESCRIPCION:</label>
                    <textarea name="description" id="description" required placeholder="Ingresa una descripcion..."></textarea>
                   </div>
            </fieldset>

            <button class="admin__button" type="submit">Crear</button>
        </form>
    <table class="admin__table">
        <thead>
        <tr>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody id="table-content">

    </tbody>
    </table>
</section>
  </main>
  <script src="../js/admin.js" defer></script>
  <script src="../js/index.js" defer></script>
</body>
</html>