.footer{
    padding: 20px 0px;
    background: #9bdbf5;
    box-shadow: 0px 3px 34px -8px rgb(0, 107, 149);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.footer__container{
display: flex;
justify-content: space-around;
align-items: center;
}

.footer__logo{
    width:100px;
    height: 100px;
    background-color: #9bdbf5;
    border-radius: 50%;
    border: 1px solid white;
    padding: 10px;
}

.footer__link a{
     text-decoration: none;
     color: black;
}


.footer ul{
    list-style: none;
    align-items: center;
    gap: 5px;

}

.footer__link {
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s;

}

.footer__link i{
    color: white;
}

.footer__link:hover{
    transform: translateX(3px);
}

.footer__socials{
    display: flex;
    align-items: center;
    gap: 10px;

}

.footer__link--icons:hover{
    transform: translateY(-3px);
}


.footer__copyrigh{
    text-align: center;
    color: white;
    margin-top: 20px;
}

@media screen and (width <=720px){
    .footer__container{
        flex-direction: column;
        gap: 40px;
    }
}

