.reseñas{
    background-color: white;
}


.reseñas__titte{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    margin-bottom: 20px;
    background-color: #9bdbf5;
    
}

.reseñas__element{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    

}

.reseñas__image{
    width: 300px;
    height: 300px;
}

.reseñas__image img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.reseñas__container{
    max-width: 1110px;
    margin: 0 auto;
    background-color: #9bdbf5;
}

.reseñas__content{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}


.reseñas__icon{
    color: gold;
    
}
